@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    background: white;
  }

  /* Hide everything except the print container */
  nav,
  .btn,
  footer,
  .sidebar {
    display: none !important;
  }

  .print-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 badges per row */
    gap: 10px;
  }
}
